if theme.yungentie
    div#cloud-tie-wrapper.cloud-tie-wrapper
    script.
        var cloudTieConfig = {
            url: document.location.href, 
            sourceId: "",
            productKey: "656e246ebfc7420d82eb5d9a339b50c2",
            target: "cloud-tie-wrapper"
        };
    script( src='https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js' )
