.copyright
    - var hexoURL = "https://hexo.io/";
    - var bubuzouURL = "https://github.com/Bulandent/hexo-theme-bubuzou";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.weibo, target="_blank")!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] <br> and #[a(href=bubuzouURL, target="_blank") hexo-theme-bubuzou].