doctype
html(lang=config.language)
    head
        include head
    body
        header
           .header.row 
                a.logo-link(href=url_for())
                    img(src=theme.logo)
                include nav
                .search
                    a#search_btn(href='#search')
                .nav-btn#nav_btn
                    span
                    span
                    span
        .row.scroll-con
            section.container
                block container
                .right-container
                    if (is_post())
                        include ../widget/catalog
                    else 
                        include ../widget/category
                        include ../widget/tagcloud
                        include ../widget/recent
        .right-menu
        .modal.search-modal
            .input-field
                input(type='text', id='search_input')
                label(for='search-input') 搜索
            #search_result.search-result
        .blog-overlay

        footer.row
            .footer-con
                block pagination
                block copyright
                .totop
                    i
            
        include scripts
        if theme.leancloud.timer
            include timer
